button {
font-size: 50px;
color: white;
background: #2a2b2b;
height: 150px;
width: 150px;
border-radius: 50%;
text-align: center;
border: 2px solid black;
}

.operators {
  background: #FF9500;
}

#zero {
  font-size: 50px;
  color: white;
  height: 150px;
  width: 300px;
  border-radius: 80px / 80px;
  text-align: center;
  border: 2px solid black;
}

#parenth {
    font-size: 49.5px;
    color: white;
    height: 150px;
    width: 300px;
    border-radius: 80px / 80px;
    text-align: center;
    border: 2px solid black;
}

.output {
display: block;
width: 47%;
height: 120px;
border: 2px solid black;
font: "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
font-size: 60px;
color: white;
}

.mod {
  background: #D4D4D2;
  color: black;
}

#outPopUp {
  align: center;
}

body {
  background-image: url("https://www.google.com/search?safe=strict&rlz=1CARWXF_enUS762US764&biw=1366&bih=610&tbm=isch&sa=1&ei=HgVFXIatAa2-gge78qmABg&q=colorful+gif&oq=colorful+gif&gs_l=img.3..0l10.1646.5571..5796...0.0..1.185.1442.14j2....3..1....1..gws-wiz-img.....0..0i67.oMs_JRRg9Gk#imgrc=U2BbW1sWn2vNRM:");
}
