#piButton{
  position:absolute;
  top: 149px;
  height: 300px;
  left: 265px;
}
#squareButton{
  position:absolute;
  left: 265px;
  top: 450px;
}
#cubeButton{
  position:absolute;
  left: 265px;
  top: 601px;
}
#divisionButton{
  position:absolute;
  left:877px;
  top:148px;
}
#multiplicationButton{
  position:absolute;
  left:877px;
  top:299px;
}
#subtractionButton{
  position:absolute;
  left:877px;
  top:450px;
}
#additionButton{
  position:absolute;
  left:877px;
  top:601px;
}
#equalButton{
  position:absolute;
  left:877px;
  top:752px;
}
#decimalButton{
  position:absolute;
  left:726px;
  top:752px;
}
#button0{
  position:absolute;
  left:274px;
  top:752px;
}
#button1{
  position:absolute;
  left:424px;
  top:601px;
}
#button2{
  position:absolute;
  left:575px;
  top:601px;
}
#button3{
  position:absolute;
  left:726px;
  top:601px;
}
#button4{
  position:absolute;
  left:424px;
  top:450px;
}
#button5{
  position:absolute;
  left: 575px;
  top: 450px;
}
#button6{
  position:absolute;
  left:726px;
  top:450px;
}
#button7{
position:absolute;
left:424px;
top:299px;
}
#button8{
position:absolute;
left:575px;
top:299px;
}
#button9{
position:absolute;
left:726px;
top:299px;
}
#clearButton{
  position:absolute;
  left:424px;
  top:148px;
}

button:hover {
  background-color: black;
  color: orange;
  transition-duration: 0.58s;
}

.calculator-buttons{
  width:150px;
  height: 150px;
  background-color: #776F6F;
  color: black;
  border: 4px solid black;
  border-radius: 80px / 80px;
  font-size: 48px;
  font: "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
}
.zero-button{
  width:449px;
  height: 150px;
  background-color: #776F6F;
  color: black;
  border: 4px solid black;
  border-radius: 80px / 80px;
  font-size: 48px;
  font: "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
}
.operator-buttons{
  width:150px;
  height: 150px;
  background-color: #E8E4E4;
  color: black;
  border: 4px solid black;
  border-radius: 80px / 80px;
  font-size: 48px;
  font: "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
}
.clear-button{
  width:150px;
  height: 150px;
  background-color: #FF8900;  color: black;
  border: 4px solid black;
  border-radius: 80px / 80px;
  font-size: 48px;
  font: "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
}
#negationButton{
  position:absolute;
  background-color: #FF8900;
  left:575px;
  top:148px;
}
#negationButton:hover{
  background-color: black;
  color: orange;
  transition-duration: 0.58s;
}
#percentButton{
  position:absolute;
  background-color: #FF8900;
  left:726px;
  top:148px;
}
#percentButton:hover{
  background-color: black;
  color: orange;
  transition-duration: 0.58s;
}
.output{
  width:758px;
  height:125px;
  position:absolute;
  left:267px;
  top:15px;
  text-align: right;
  font-size: 65px;
  background-color: #E8E4E4;
  color:black;
  font: "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
  display: block;
  border: 4px solid black;
}
body{
  background-image: url("https://66.media.tumblr.com/38836f998c27f5a474b3e70cfa68d59b/tumblr_np0jm3TtM71tp9egeo1_500.gif");
}
